<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup/>
	<connectionStrings>
		<add name="SQLConnectionString" connectionString="gGxSu0Ol377926SnLaic/uua093/8AaBELmR+/Ybc6VVKShiwNNpV6vJ976ZyAD3Im1FDTB0Qt0OCdsofvNLFMrvvLY+uWwlX3ZNAhncr7U=" providerName="System.Data.SqlClient"/>
		<add name="kingdee" connectionString="Data Source=198.22.1.223;Initial Catalog=AIS20160702131449;User ID=sa;Password=qaz123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="FormStyle" value="Office2010Blue"/>
		<add key="SystemUserName" value="童茜"/>
		<add key="UserPass" value=""/>
		<add key="LoginMode" value="RememberMe"/>
		<add key="DefaultDB" value="0"/>
		<add key="Bills" value=""/>
		<add key="AppName" value="二维码防串货管理系统"/>
	</appSettings>
</configuration>
